body{
    margin: 0;
    background-color: rgb(212, 250, 250);
    font-family: 'Lora';
    text-align: center;
}


h1{
    font-family: 'Merriweather';
    color: rgb(0, 119, 255);
}

button{
    border: rgb(0, 119, 255) solid;
    font-family: 'Lora'
}